<?xml version="1.0"?>
<launch>

  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="rviz" default="true"/>

  <!-- Use the real Gazebo11 empty world path -->
  <arg name="world_name" default="/usr/share/gazebo-11/worlds/empty.world"/>

  <!-- Start Gazebo only once -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- ============================================================
       Set global gravity to zero
       Delay this call to make sure Gazebo services are ready.
       ============================================================ -->
 <node name="set_zero_gravity"
      pkg="rosservice"
      type="rosservice"
      launch-prefix="bash -c 'sleep 8; exec $0 $@'"
      args="call /gazebo/set_physics_properties &quot;{time_step: 0.001, max_update_rate: 1000.0, gravity: {x: 0.0, y: 0.0, z: 0.0}, ode_config: {auto_disable_bodies: false, sor_pgs_precon_iters: 0, sor_pgs_iters: 50, sor_pgs_w: 1.3, sor_pgs_rms_error_tol: 0.0, contact_surface_layer: 0.001, contact_max_correcting_vel: 100.0, cfm: 0.0, erp: 0.2, max_contacts: 20}}&quot;"
      output="screen" />

  <!-- ============================================================
       Static TFs for RViz
       These positions should match the Gazebo spawn positions.
       world -> armX_world
       ============================================================ -->

  <node pkg="tf"
        type="static_transform_publisher"
        name="world_to_arm1_world"
        args="0.0 0.0 0.0 0.0 0.0 0.0 world arm1_world 100"/>

  <node pkg="tf"
        type="static_transform_publisher"
        name="world_to_arm2_world"
        args="2.5 0.0 0.0 0.0 0.0 0.0 world arm2_world 100"/>

  <node pkg="tf"
        type="static_transform_publisher"
        name="world_to_arm3_world"
        args="0.0 2.5 0.0 0.0 0.0 0.0 world arm3_world 100"/>

  <node pkg="tf"
        type="static_transform_publisher"
        name="world_to_arm4_world"
        args="2.5 2.5 0.0 0.0 0.0 0.0 world arm4_world 100"/>

  <!-- ============================================================
       Arm 1
       ============================================================ -->
  <group ns="arm1">

    <param name="robot_description"
           command="$(find xacro)/xacro '$(find two_link_arm_gazebo)/urdf/two_link_arm.xacro' robot_namespace:=/arm1 prefix:=arm1_"/>

    <rosparam file="$(find two_link_arm_gazebo)/config/two_link_controllers.yaml"
              command="load"/>

    <node name="spawn_arm1"
          pkg="gazebo_ros"
          type="spawn_model"
          args="-urdf -param /arm1/robot_description -model arm1 -x 0.0 -y 0.0 -z 0.0"
          output="screen"/>

    <node name="controller_spawner"
          pkg="controller_manager"
          type="spawner"
          args="joint_state_controller joint_group_eff_controller"
          output="screen"/>

    <node name="stopped_controller_spawner"
          pkg="controller_manager"
          type="spawner"
          args="--stopped eff_joint_traj_controller"
          output="screen"/>

    <node name="robot_state_publisher"
          pkg="robot_state_publisher"
          type="robot_state_publisher"
          output="screen">
      <param name="publish_frequency" value="100.0"/>
    </node>

  </group>

  <!-- ============================================================
       Arm 2
       ============================================================ -->
  <group ns="arm2">

    <param name="robot_description"
           command="$(find xacro)/xacro '$(find two_link_arm_gazebo)/urdf/two_link_arm.xacro' robot_namespace:=/arm2 prefix:=arm2_"/>

    <rosparam file="$(find two_link_arm_gazebo)/config/two_link_controllers.yaml"
              command="load"/>

    <node name="spawn_arm2"
          pkg="gazebo_ros"
          type="spawn_model"
          args="-urdf -param /arm2/robot_description -model arm2 -x 2.5 -y 0.0 -z 0.0"
          output="screen"/>

    <node name="controller_spawner"
          pkg="controller_manager"
          type="spawner"
          args="joint_state_controller joint_group_eff_controller"
          output="screen"/>

    <node name="stopped_controller_spawner"
          pkg="controller_manager"
          type="spawner"
          args="--stopped eff_joint_traj_controller"
          output="screen"/>

    <node name="robot_state_publisher"
          pkg="robot_state_publisher"
          type="robot_state_publisher"
          output="screen">
      <param name="publish_frequency" value="100.0"/>
    </node>

  </group>

  <!-- ============================================================
       Arm 3
       ============================================================ -->
  <group ns="arm3">

    <param name="robot_description"
           command="$(find xacro)/xacro '$(find two_link_arm_gazebo)/urdf/two_link_arm.xacro' robot_namespace:=/arm3 prefix:=arm3_"/>

    <rosparam file="$(find two_link_arm_gazebo)/config/two_link_controllers.yaml"
              command="load"/>

    <node name="spawn_arm3"
          pkg="gazebo_ros"
          type="spawn_model"
          args="-urdf -param /arm3/robot_description -model arm3 -x 0.0 -y 2.5 -z 0.0"
          output="screen"/>

    <node name="controller_spawner"
          pkg="controller_manager"
          type="spawner"
          args="joint_state_controller joint_group_eff_controller"
          output="screen"/>

    <node name="stopped_controller_spawner"
          pkg="controller_manager"
          type="spawner"
          args="--stopped eff_joint_traj_controller"
          output="screen"/>

    <node name="robot_state_publisher"
          pkg="robot_state_publisher"
          type="robot_state_publisher"
          output="screen">
      <param name="publish_frequency" value="100.0"/>
    </node>

  </group>

  <!-- ============================================================
       Arm 4
       ============================================================ -->
  <group ns="arm4">

    <param name="robot_description"
           command="$(find xacro)/xacro '$(find two_link_arm_gazebo)/urdf/two_link_arm.xacro' robot_namespace:=/arm4 prefix:=arm4_"/>

    <rosparam file="$(find two_link_arm_gazebo)/config/two_link_controllers.yaml"
              command="load"/>

    <node name="spawn_arm4"
          pkg="gazebo_ros"
          type="spawn_model"
          args="-urdf -param /arm4/robot_description -model arm4 -x 2.5 -y 2.5 -z 0.0"
          output="screen"/>

    <node name="controller_spawner"
          pkg="controller_manager"
          type="spawner"
          args="joint_state_controller joint_group_eff_controller"
          output="screen"/>

    <node name="stopped_controller_spawner"
          pkg="controller_manager"
          type="spawner"
          args="--stopped eff_joint_traj_controller"
          output="screen"/>

    <node name="robot_state_publisher"
          pkg="robot_state_publisher"
          type="robot_state_publisher"
          output="screen">
      <param name="publish_frequency" value="100.0"/>
    </node>

  </group>

  <!-- ============================================================
       Start RViz
       ============================================================ -->
  <node if="$(arg rviz)"
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find two_link_arm_gazebo)/rviz/four_arms.rviz"
        output="screen"/>

</launch>